<nav class="mb-4 <% unless user_signed_in? %>mt-4<% end %>" data-testid="main-nav" aria-label="<%= community_name %>">
  <ul class="default-navigation-links sidebar-navigation-links spec-sidebar-navigation-links">
    <%= render partial: "layouts/sidebar_nav_link", collection: @default_nav_links, as: :link, cached: true %>
  </ul>
</nav>

<div class="flex justify-start mb-4">
  <%= render partial: "layouts/social_media" %>
</div>
